body {
  margin:0;
  touch-action: none; /* allow vertical scroll but prevent swipe to go back in msEdge */
  background-color: mediumpurple;
  font-family: Roboto;
  overflow: hidden;
}

.container {
  position: relative; /* Must be relative */
  height:100vh;
  width:calc(100% - 3px);
  overflow-x:visible;
  touch-action: pan-y;
  user-select: none;
}

.list-item {
  width:calc(100% - 40px);
  height:50px;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.drag-style {
  background-color: orange;
}