body {
  margin:0;
  touch-action: none; /* allow vertical scroll but prevent swipe to go back in msEdge */
  background-color: lightpink;
  font-family: Roboto;
  overflow: hidden;
}

.wrapper {
  overflow-y: scroll
}

.container {
  height:100vh;
  width:calc(50% - 3px);
  overflow-x:visible;
  touch-action: pan-y;
  user-select: none;
}

.list-item {
  width:100%;
  height:50px;
  margin: 2px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.drag-style {
  background-color: orange;
}