.draggable {
    width:100%;
    height:60px;
    margin: 2px;
    background-color: grey;
}

.shadow {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, .2),
    0px 8px 10px 1px rgba(0, 0, 0, .14),
    0px 3px 14px 2px rgba(0, 0, 0, .12);
}

/* .dragging {
    transition-property: box-shadow, background-color;
    transition-duration: 1.18s;
    transition-timing-function: ease;
    cursor: ns-resize;
}

.moving {
    transition-property: transform;
    transition-duration: 1.18s;
    transition-timing-function: ease;
}

.dropping {
    transition-property: box-shadow, background-color;
    transition-duration: 1.18s;
    transition-timing-function: ease;
} */
